body{
    background-image: url("images/honeycomb.jpg");
    background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#menuBox {
    display: grid;
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
}

#menuBox {
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    font-family: cursive;

}

#menuBox ul {
    list-style: none;
    text-align: center;
    
  }
  #menuBox ul li {
    display: inline-block;
  }
  #menuBox ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgba(112, 110, 110, 0.842);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }


#container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
}

h1{
    padding-top: 15px;
    text-align: center;
    font-size: 4em;
    color: rgb(247, 244, 244);
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px #3b250796;
}

#elements {
    display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . .";

}

.FizzBuzz {
    display: grid;
    width: 100px;
    height:100px;
    margin:10px;
    color:white;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    transition: all 0.2s linear;
    background-color: #21a83e96;
    background-image: url(images/honeyfizbuz.jpg);
    
}

.FizzBuzz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.Fizz {
    display: grid;
    width: 100px;
    height:100px;
    margin:10px;
    color:white;
    background-color: #90589ebb;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    transition: all 0.2s linear;
}

.Fizz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.gridbuzz {
    background-image: url(gridbuzz.scss) ;
}

.Buzz {
    display: grid;
    width: 100px;
    height:100px;
    margin:10px;
    color:white;
    background-color: #dbcd05;
    background-image: url(images/bee2.png);
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    transition: all 0.2s linear;
}

.Buzz:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.Empty {
    display: grid;
    width: 100px;
    height:100px;
    margin:10px;
    color:white;
    background-color: #ff9900;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    text-align:center;
    transition: all 0.2s linear;
}

.Empty:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

#sizeBox {
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    padding-top: 2px;
    padding-bottom: 2px;
}

.sliders {
    width: 300%;
}


.sliderLabel {
    color: #110911;
    font-family: 'Amatic SC', cursive;
}



#elWidth {
    width: 30%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3; 
    outline: none;   
}

#elHeight {
    width: 30%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;  
}



#valueBox {
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;

}

#colorBox {
    background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    position: center;
}

#customBox {
    background-color: rgb(235, 235, 235);
    padding-top: 15px;
    padding-bottom: 15px;
    
}
h3 {
    display: inline;
    font-size: 1em;
    font-weight: 100;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}


#generate {
    padding: 10px;
    border-radius: 5px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#clear {
    padding: 10px;
    background-color: #464646;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#generate2 {
    padding: 10px;
    border-radius: 5px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#game {
    padding: 10px;
    border-radius: 5px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    display: inline-block;
    
}

#game:hover {
    background-color: #f0ca22ef;
    
}

  #gameBox a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgba(255, 253, 253, 0.842);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 20px;
    position:absolute

  }

#generate:hover {
    background-color: #f0ca22ef;
}

#clear:hover {
    background-color: #f0ca22ef;
}

#generate2:hover {
    background-color: #f0ca22ef;
}

@media (max-width: 992px) {
    #container {
        width: 500px;
        height: 100%;
        margin : 0 auto;
        background: rgb(203,128,65);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    }

    #elements {
        display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
    }

    input[type=number]{
        width: 100px;
    }


}

@media (max-width: 576px) {
    #container {
        width: 300px;
        height: 100%;
        margin : 0 auto;
        background: rgba(203, 127, 65, 0.678);
background: linear-gradient(90deg, rgba(203,128,65,1) 0%, rgba(255,211,133,1) 53%, rgba(182,131,61,1) 100%);
    }

    #elements {
        display: inline;
    }

    input[type=number]{
        width: 50px;
    }

}
